In [5]:
#Q. 1 Factorial of number
def factorial(n):
    if n == 0:
        return 1
    else:
        result = factorial(n-1)
        result = n * result
        return result

In [6]:
factorial(0)

1

In [8]:
factorial(4)

24

In [10]:
#Q.2 Multiplication table
def multiplication_table(n):
    i = 1
    while i<=10:
        prod = i*n
        print(prod)
        i+=1

In [11]:
multiplication_table(2)

2
4
6
8
10
12
14
16
18
20

In [12]:
#Q.3 Fibonacci series
def fib(n):
    a=0
    b=1
    if n == 0:
        print(a)
    else:
        print(a)
        print(b)
        for i in range(2, n):
            c = a+b
            a=b
            b=c
            print(c)

In [13]:
fib(5)

0
1
1
2
3

In [14]:
#Q.4 Check of Armstrong no.
i= int(input("Enter a number for checking of armstrong no.: "))
original = i
sum = 0
while i>0:
    sum = sum + (i%10)*(i%10)*(i%10)
    i = i//10
if original == sum:
    print("Given no. is Armstrong no.")
else:
    print("No. is not Armstrong no.")

Enter a number for checking of armstrong no.: 35
No. is not Armstrong no.

In [15]:
#Q.5 Armstrong no. in interval
num1 = int(input("Enter first num for lower range: "))
num2 = int(input("Enter second num for upper range: "))
for num in range(num1, num2+1):
    sum = 0
    original = num
    while original>0:
        digit = original%10
        sum+= digit **3
        original = original//10
        if num == sum:
            print(num)

Enter first num for lower range: 10
Enter second num for upper range: 150
64
125

In [16]:
#Q.6 Sum of natural numbers
n = int(input("Enter a no. upto which we want sum of natural no.s: "))
i =1
sum = 0
while(i<=n):
    sum = sum + i
    i = i+1
print("Sum of natural no.s is", sum)

Enter a no. upto which we want sum of natural no.s: 5
Sum of natural no.s is 15